/* styles.css */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background: url('background-image.jpg') center/cover no-repeat;
    height: 12vh;
    display: flex;
    align-items: center;
}

nav {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    width: 100%;
}
nav.nav-item { display: block; 
                       padding: 12px 20px; 
                       border: 1px solid transparent; 
                       font-family: 'Montserrat', sans-serif; font-size: 12px; 
                       font-weight: 500; 
                       line-height: 1; 
                       letter-spacing: 0.05em; 
                       text-transform: uppercase; 
                       -webkit-transition: opacity 300ms ease; 
                       -moz-transition: opacity 300ms ease; 
                       -ms-transition: opacity 300ms ease; 
                       transition: opacity 300ms ease; }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

li {
    display: inline;
}

a {
    text-decoration: none;
    color: #333;
}

.main-content {
    padding: 40px;
}

.table td{
           width: 50%;
}

    
a:hover,
a:active {
  border: 2px solid white;
}
.table img {
    max-height: 1200px;
    max-width: 500px;
}
.card {
    margin-bottom: 20px;
    height: 200px; /*  */
}

